<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory>tests/Browser</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="CASHIER_CURRENCY" value="usd"/>
        <env name="CASHIER_CURRENCY_LOCALE" value="en"/>
        <env name="STRIPE_PRICE_STARTER_MONTHLY" value="price_test_starter_monthly"/>
        <env name="STRIPE_PRICE_STARTER_YEARLY" value="price_test_starter_yearly"/>
        <env name="STRIPE_PRICE_PRO_MONTHLY" value="price_test_pro_monthly"/>
        <env name="STRIPE_PRICE_PRO_YEARLY" value="price_test_pro_yearly"/>
        <env name="VAPID_SUBJECT" value="mailto:test@example.com"/>
        <env name="VAPID_PUBLIC_KEY" value="BAiuEEdTZmyuv7lpOvERHWybziqhxPhQ1zIeOc_5ebubuhH08ybXeut_wX0PL0INt3jBYLWb5JePqtwwdSbRzNM"/>
        <env name="VAPID_PRIVATE_KEY" value="mkY5dY5wXk3LGPYmWcKJ-oJIg65wTuYUxruIsUaGR18"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
